html {
    background-image: linear-gradient(to bottom, white 0%, #facd8a 100%);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: white;
    width: 1000px;
    background-color: white;
    margin: 15px auto;
    padding: 15px 1.5em;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 0;
    background-image: url(../images/plaincolor.jpg);
    background-repeat: repeat-y;
    background-position: right;
    background-attachment: fixed;
}
a:focus, a:hover {
    font-style: italic;
    color:whitesmoke;
}
header h1 {
    font-size: 175%;
    color:whitesmoke;
    text-indent: 30px;
}
header h2 {
    font-size: 130%;
    color:whitesmoke;
    text-indent: 30px;
}
header img {
    float: left;
}
.shadow {
    text-shadow: 2px 2px 2px rgb(126, 103, 103);
}
main {
    clear: left;
}
main h3 {
    font-size: 105%;
    margin-top: 3em 2em 1.5em;
    border: 5px double whitesmoke;

}
#list {
    line-height: 1.5em;
}
footer p.copyright {
    text-align: center;
    font-size: 80%;
}