*{
    font-family: Arial, Helvetica, sans-serif;
}

table.first {
    border-collapse: separate;
    border: 2px solid black;
}
table.first th, table.first td{
    border: 2px solid blue;
}
table.first tr:nth-child(odd) {
    background-color: lightblue;
}

table.second {
    border-collapse: collapse;
    border: 2px solid purple;
    caption-side: bottom;
}

table.second th {
background-color: salmon;
}

table.second th, table.second td {
    padding: 0.7em;
    vertical-align: middle;
    border: 2px solid purple;
}

table.third caption {
    caption-side: top;
    background-color: rgb(32, 194, 32);
    font-weight: bold;
    border-top: 2px solid salmon;
    border-bottom: 2px solid salmon;
    padding: 5px;
}

table.third th {
background-color: limegreen;
border-bottom: 2px solid salmon;
padding: 10px
}

.third td {
    vertical-align: top;
    padding: 10px;
    border-bottom: 2px solid salmon;
}

table.third th, .third td {
    padding: 5px;
    text-align: left;

}


/* Responsive Design */
@media only screen and (max-width: 425px) {
    th, td {
        display: block;
    }

    thead, td.number {
        display: none;
        padding: 0;
    }
}