#nav_menu ul { list-style-type: none; }
#nav_menu ul li { float: left; }
#nav_menu ul li a {
text-align: center;
display: block;
width: 175px;
padding: 1em 0;
text-decoration:none;
background-color: blue;
color: white;
font-weight: bold;
border-right: 2px solid white;
border-top: 3px solid blue;
border-style: dashed solid;
}

#nav_menu ul li a.lastitem { border-right: none; }
#nav_menu ul li a.current { color: yellow; }



body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 95%;
    background-color: white;
    margin: 15px auto;
    padding: 15px 1.5em;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
    background-image:url("https://www.shsu.edu/dept/marketing/athletic-logos/Sam_Houston_Mascot_White_Sweater_FC_RGB_WHTBG_FINAL_Sam_Houston_Mascot_White_Sweater_FC_PMS_WHTBG.png");
    background-size: 600px 400px;
    background-repeat: repeat-y;
    background-position: right;
    background-attachment: fixed;
    padding-bottom: 10px;

}


article {
    clear: left;
    width: 75%;
    float: left;
    column-count: 3;
    column-rule: 3px dotted rgb(184, 13, 13);
    column-gap: 2em;
    margin-left: 2em;
    

}
article h3 {
    column-span: all;
}
article img{
    float: left;
    margin-right: 0.4em;
    margin-bottom: 0.4em;
}

aside{
    width: 20%;
    background-color: #b9c3c9;
    top: 50%;
    right: 10px;
    transform: translateY(-70%);
    padding: 10px;
    margin: 10px;
    position: fixed;
    border: 2px solid rgb(209, 218, 209);
}


article p::first-letter {
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
    color: rgb(4, 82, 4);
}

footer
{
    clear: both;
    border-top: 2px solid maroon;
    text-align: center;
}